#pageTitle {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 3px;
	color: #4D4D4D;
}

#pageSubtitle {
	text-align: center;
}

#header {
	width: 100%;
	padding-top:1px;
	padding-bottom: 10px;
}

#wrapper {
	font-family: "Helvetica Neue";
	width: 100%;
}

body {
	margin: 0;
}

#pastDaylight {
	display: inline-block;
}

#postDaylight {
	display: inline-block;
}

#camImageHeader {
	position: absolute;
	width: 100%;
}

#camImageDiv {
	display: inline-block;
	position: relative;
}

.camImageHeaderCorner {
	font-size: 16px;
	top: 2px;
	left: 2px;
}

.camImageHeaderFullSize {
	font-size: 106px;
	top:160px;
	text-align:center;
}

#daylightRow {
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	font-size: 0;
}