#pageTitle {
	text-align: center;
	font-size: 26pt;
	margin-top: 60px;
	margin-bottom: 3px;
	color: #4D4D4D;
}

#pageSubtitle {
	font-size: 14pt;
	text-align: center;
}

#header {
	width: 100%;
	padding-top:1px;
	padding-bottom: 50px;
}

#wrapper {
	font-family: "Helvetica Neue";
	width: 100%;
}

body {
	margin: 0;
}

#daylightRow {
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	font-size: 0;
}

#historyRow {
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#slider {
	position: absolute;
	top: 47px;
	width: 1440px;
	margin: 0;
}

#camImageHoverBox {
	position:absolute;
	border:1px solid #333;
	background:#f7f5d1;
	padding:2px 5px;
	color:#333;
	display:none;
}