#wrapper {
	font-family: "Helvetica Neue";
	width: 100%;
}

body {
	margin: 0;
}

#pageTitle {
	text-align: left;
	font-size: 26pt;
	text-shadow: 0.1em 0.1em 0.2em black;
}

#pageSubtitle {
	font-size: 14pt;
	text-align: left;
	text-shadow: 0.1em 0.1em 0.2em black;
}

#header {
	opacity: 0.80;
	color: white;
	position: absolute;
	top: 2px;
	left: 8px;
}

#canvasAndHeaderContainer {
 	position: relative;
}

#daylightRow {
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	font-size: 0;
}

#historyRow {
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#slider {
	position: absolute;
	top: 47px;
	width: 1440px;
	margin: 0;
}

#camImageHoverBox {
	position:absolute;
	display:none;
}

#camImageHeader {
	position: absolute;
	width: 100%;
	font-size: 16px;
	top: 2px;
	left: 2px;
}